.outerContainer {
  /* margin: 50px; */
  padding-left: 7rem;
  padding-right: 7rem;
}

.jumbotron {
  background-image: url("../../public/images/sample.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topStories {
}

footer {
  background-color: #7fa9e0;
  padding: 50px;
  margin-top: 50px;
}
