body {
  background-color: rgb(182, 204, 236);
  font-family: "Amarante", cursive;
}

.outerContainer {
  /* padding-left: 8rem;
  padding-right: 8rem; */
}

.jumbotron {
  background-image: url("../images/alduin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

/* .topStories {
  
} */

footer {
  background-color: #7fa9e0;
  padding: 50px;
  margin-top: 50px;
}

.col-md-4 {
  border: red solid 1px;
}

/* WEATHER API */
.report-container {
  border-radius: 2rem 2rem;
  box-shadow: grey 3px 3px 5px;
  background: purple;
  padding: 3rem;
  width: 100%;
  /* width: 25rem;
  height: 25rem; */
}

.weather-icon {
}

p {
  font-family: "Noto Sans JP", sans-serif;
}

.img-small {
  width: 15rem;
  height: auto;
}

/* cards */

.main-card {
  border-radius: 2rem;
  box-shadow: grey 3px 3px 5px;
  background-image: url("../images/sample.jpg");
  width: 100%;
  /* width: 55rem;
  height: 25rem; */
}

.top-stories {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 23rem;
  border-radius: 2rem;
  box-shadow: grey 3px 3px 5px;
}

.mass {
  background-image: url("../images/me.jpg");
}

.ac {
  background-image: url("../images/AC.jpg");
}

.yakuza {
  background-image: url("../images/yakuza.jpg");
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: rgba(
    rgb(153, 153, 153),
    rgb(248, 244, 244),
    rgb(255, 255, 255),
    0.7
  );
  color: white;
}
